@import "fonts/animation";
@import "fonts/fontello";
@import "fonts/fontello-codes";
@import "fonts/fontello-embedded";
@import "fonts/fontello-ie7";
@import "fonts/fontello-ie7-codes";
@import "components/basket";
@import "components/header";
@import "components/form";
@import "components/rest";
@import "components/listRest";
@import "components/smallHero";
@import "components/sidebar";


p {
  margin: 0;
}


.container-rest{
  max-width: 1240px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px){
}

