.account {

  &-orders{
    padding-top: 3rem;
  }
}

@media only screen and (min-width: $bp-small){
  .account {
    padding-top: 3rem;
    &-container {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: calc(100% - 235px);
      max-width: calc(100% - 235px);
    }
  }
}