.hero {
  background-color: #ffffff;
  padding: 10px;

  &-text {
    font-size: 3.5rem;
    font-weight: 500;
  }

  &-link,
  &-link:hover {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
  }
}

