.form {
  font-size: 1.4rem;
  margin: 3rem 0;

  &-group {
    label {
      font-size: 2rem;
    }
  }

  .form-control {
    padding: 1rem;
    height: 4rem;
    font-size: 2rem;
  }

  .form-check {
    margin: 2rem 0;
    label {
      margin-left: 1.5rem;
    }
  }

  .btn {
    font-size: 1.6rem;
    padding: 0.6rem 2rem;
  }
}

@media only screen and (min-width: $bp-small){
  .form {
    &-group {
      label {
        font-size: 1.6rem;
      }
    }

    .form-control {
      font-size: 1.6rem;
    }
  }

}