.header {
  width: 100%;
  position: absolute;
  bottom:0;
  background: rgba(0,0,0,0.2);
  height: 60px;

  &-basket {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: all ease .3s;
    width: 300px;
    margin-left: auto;



    &:hover {
      background-color: #ffffff;

      .header-basket__name {
        color: #000000;
      }

    }
    &__name {
      color: #ffffff;
    }

  }


  &-col {
    max-width: 400px;
  }
}

.sticky {
  z-index: 100;
}

.white {
  background-color: #ffffff;
  width: 370px;

  .header-basket__name {
    color: #000;
  }
}

.blue {
  background-color: #007bff;

  .header-basket__name {
    color: #fff;
  }

  &:hover {
    background-color: #0069d1;

    .header-basket__name {
      color: #fff;
    }
  }
}