.restaurant {
  &-content {
    padding: 0;
  }

  &-container {
    display: flex;
    position: relative;
  }

  &-list {
    padding: 3rem 1.5rem;
    max-width: 100%;
    background-color: $light-grey;
    width: 100%;
  }

  &-box {
    background-color: $white;
    transition: all .3s ease;
   &:hover {
     background-color: #f7faf3;
     box-shadow: 0 1px 1px #cfcac4;
   }
  }

  &-item {
    min-height: 118px;
    position: relative;
    //background-color: $white;
  }

  &-body {
    padding-left: 2rem;
  }

  &-name {
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 600;
    text-align: left;
    color: #0a3847;
    margin: 0 0 0.8rem;
    display: inline-block;
  }

  &-logo {
    max-width: 225px;
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
  }
  &-stars {
    font-size: 2rem;
  }

  &-type {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    line-height: 2rem;
  }

  &-option {
    font-size: 1.4rem;
    display: inline-block;
    padding: 0 1rem;

    &:first-child {
      padding: 0 1rem 0 0;
    }
  }

  &-img {
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media only screen and (min-width: $bp-small){
  .restaurant {
    &-content {
        flex: 1;
        width: calc(100% - 235px);
        max-width: calc(100% - 235px);
    }
  }
}

@media only screen and (min-width: $bp-large){
  .restaurant {
    &-img {
      max-width: 277px;
      height: 156px;
    }
  }
}

@media only screen and (min-width: $bp-largest){
  .restaurant {
    &-list {
      padding: 3rem 0 3rem 1.5rem;
    }
  }
}

