.sidebar {
  padding-top: 3rem;

  &-btn {
    height: 40px;
    line-height: 37px;
    white-space: nowrap;
    margin-bottom: 4px;
    box-shadow: 0 2px 2px #cfcac4;
    display: inline-block;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    border-radius: 3px;
    font-size: 15px;
    color: #666;
    cursor: pointer;
  }
}


.btn-blue {
  color: #fff !important;
  background-color: #007bff;
  border-color: #007bff;
}
