.jumbotron-small {
  //height: 30rem;
  position: fixed;
  z-index: 102;
  width: 100%;

  .hero {
    margin: 2rem;
    &-text {
      font-size: 2.5rem;
      text-align: center;
    }
  }


}



.buttons {
  position: absolute;
  top: 2rem;
  background-color: transparent;
  text-align: right;
  max-width: 1240px;

  .row {
    background-color: transparent;

    li {
      display: inline-block;
    }

  }
}

@media only screen and (min-width: $bp-small){
  .jumbotron-small {
    //height: 30rem;
    position: relative;

    .hero {
      margin: 0;
      &-text {
        font-size: 3.5rem;
      }
    }
  }


}

