.jumbotron-small {
  height: 30rem;
  position: relative;
}
.buttons {
  position: absolute;
  top: 2rem;
  background-color: transparent;
  text-align: right;
  max-width: 1240px;

  .row {
    background-color: transparent;
  }
}

.btn-sign {
  font-size: 1.6rem;
  padding: 0.6rem 2rem;

  &:first-child{
    margin-right: 1rem;
  }
}
