
.icon-star-empty:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-star-1:before { content: '\e802'; } /* '' */
.icon-star-half:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-basket-1:before { content: '\e805'; } /* '' */
.icon-basket-2:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-pencil-1:before { content: '\e809'; } /* '' */
.icon-trash-empty:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80c'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-left-open-1:before { content: '\e80e'; } /* '' */
.icon-left-open-3:before { content: '\e80f'; } /* '' */
.icon-left-open-4:before { content: '\e810'; } /* '' */
.icon-left-open-2:before { content: '\f007'; } /* '' */
.icon-star-half-1:before { content: '\f022'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */