* {
  margin:0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 50%; // 1rem =10px, 10px/16px = 62.5%
}
a,
a:hover {
  color: #0a3847;
  text-decoration: none;
}

.container-hero {
  max-width: 1240px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-rest{
  @extend .container-hero;
  padding-top: 250px;
}

.main-container {
  max-width: 100%;
}

.star-rating {
  display: flex;
  align-items: center;
  font-size: 2em;
}
.back-stars {
  display: flex;
  color: #ff8000;
  position: relative;

}
.front-stars {
  display: flex;
  color: #ff8000;
  overflow: hidden;
  position: absolute;
  top: 0;
}


@media only screen and (min-width: $bp-small){
  .container-rest{
    padding-top: 0;
  }

  .main-container{
    padding-top: 0;
    padding-right: 0;
    .row {
      margin: 0;
    }
  }
}

@media only screen and (min-width: $bp-large){
  html {
    font-size: 62.5%;
  }

  .container-hero {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: $bp-largest){
  .main-container{
    padding-left: 0;
    max-width: 1240px;

  }
}