.bg {
  background-color: #f8f5f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.mgt-10 {
  margin-top: 1rem;
}

.invalid {
  input {
    border: 1px solid red;
  }

  p {
    color: #FF0000;
  }
}

.mgr-auto{
  margin-right: auto;
}


.fullscreen {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

.hidden-mid {
  position: absolute;
  transform: translateX(-150px);

}

.hidden-right {
  position: absolute;
  transform: translateX(150px);
}

.hidden-left {
  position: absolute;
  transform: translateX(-300px);
}


.mobile-hidden2 {
visibility: hidden;
}

.mobile-hidden {
display: none;
}

.desktop-hidden {
display: block;
}

.mobile-center {
  justify-content: center;
}

@media only screen and (min-width: $bp-small){
  .mobile-hidden{
    display: block;
  }

  .mobile-hidden2{
    visibility: visible;
  }

  .desktop-hidden {
    display: none;
    position: relative;
  }

  .mobile-center {
    justify-content: flex-start;
  }

  .mobile-full-width {
    width: auto;
  }
}

