.sidebar {
  padding-top: 3rem;
  width: 100%;
  position: fixed;
  background-color: $white;
  z-index: 104;
  height: 100%;
  top: 50px;
  left: 0;
  display: none;
  
  &-btn {
    height: 40px;
    line-height: 37px;
    white-space: nowrap;
    margin-bottom: 4px;
    box-shadow: none;
    display: inline-block;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    border-radius: 3px;
    font-size: 15px;
    color: #666;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      color: #007bff !important;
      text-decoration: none;
    }
  }

  &.sticky {
    position: fixed;
    top: 60px;
    z-index: 100;
    display: block;
    left: 15px;
  }

  &.open {
    display: block;
  }
}

@media only screen and (min-width: $bp-small){
  .sidebar{
    width: 235px;
    position: relative;
    display: block;
    padding: 0;
    background-color: transparent;
    top: 3rem;

    &-content {
      width: 235px;
    }

    &-btn {
      box-shadow: 0 2px 2px #cfcac4;

      &--blue {
        background-color: #007bff;
        color: $white !important;
        transition: all .3s ease;

        &:hover {
            background-color: #0069d9;
            color: $white !important;
        }
      }
    }

    &.sticky {
      position: fixed;
      top: 80px;
      //width: 270px;
      z-index: 100;
      display: block;
      left: 15px;
    }

  }
}

@media only screen and (min-width: $bp-largest){
  .sidebar{
    width: 270px;

    &-content {
      width: 270px;
      padding-left: 0px;
    }

    &.sticky {
      position: fixed;
      left: calc((100% - 1240px)/2);

    }

  }

}
